<div
  class="flex flex-col items-start justify-between w-4/5 max-w-screen-xl mx-auto lg:flex-row"
>
  <section
    class="flex flex-col items-start flex-1 max-w-2xl px-4 py-4 mx-auto mt-2 md:my-4 font-rowdies"
  >
    <h1
      class="w-full text-2xl font-bold text-transparent md:text-4xl lg:text-8xl bg-clip-text bg-gradient-to-br from-blue-400 to-purple-700"
    >
      Mint Your Followers an NFT
    </h1>
  </section>
  <section
    class="flex flex-col items-start flex-1 max-w-2xl px-4 py-8 mx-auto mb-6 bg-gray-900 rounded lg:my-8 font-comfortaa text-gray-50"
  >
    <app-form></app-form>
  </section>
</div>
