<form
  class="flex flex-col items-start justify-center px-4 space-y-4"
  [formGroup]="mintForm"
  (submit)="onSubmit()"
>
  <div class="flex flex-col w-full space-y-2">
    <label for="handle" class="text-base font-bold">Twitter Handle</label>
    <input
      formControlName="handle"
      type="text"
      id="handle"
      placeholder="@saudev001"
      class="px-2 py-2 font-bold text-gray-800 border border-gray-500 rounded hover:outline-gray-500 focus:outline-gray-500 active:outline-gray-500"
    />
  </div>
  <div class="flex flex-col w-full py-2 space-y-2">
    <label for="image" class="text-base font-bold">NFT Image</label>
    <span class="sr-only">Choose nft image</span>
    <input
      formControlName="image"
      type="file"
      id="image"
      placeholder="Paste your image to be converted to NFT"
      class="block w-full text-sm text-gray-300 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border file:cursor-pointer file:text-sm file:font-semibold file:bg-gray-50 file:text-gray-700 hover:file:bg-gray-100"
    />
    <span class="preview"> </span>
  </div>
  <div class="flex flex-col w-full space-y-2">
    <label for="limit" class="text-base font-bold"
      >How many times should this be minted?</label
    >
    <input
      formControlName="limit"
      type="number"
      id="limit"
      placeholder="10"
      class="px-2 py-2 font-bold text-gray-800 border border-gray-500 rounded hover:outline-gray-500 focus:outline-gray-500 active:outline-gray-500"
    />
    <span class="mt-1 text-sm text-red-500"
      >This is the number of times the NFT will be minted on your behalf. This
      will cost money in MATIC! The followers will be counted from the next
      follow</span
    >
  </div>
  <div class="flex w-full pt-4 space-x-4">
    <button
      type="reset"
      class="px-3 py-2 bg-red-800 rounded hover:bg-red-900 text-red-50 hover:text-white focus:text-white active:text-white"
    >
      I've changed my mind!
    </button>
    <button
      type="submit"
      class="px-3 py-2 bg-green-800 rounded hover:bg-green-900 text-green-50 hover:text-white focus:text-white active:text-white"
    >
      Let's mint!
    </button>
  </div>
</form>
